<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    

  <div class="container">
    
  </div>

    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <img src="assets/imagenes/logo boceto.png" width="8%">
        <a routerLink="/">RECICLAPP TUN</a>
    </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item" routerLinkActive="active">
            <a routerLink="clasificacion" class="rk-menu__link">Clasificación</a>
          </li>

          <li class=" rk-menu__item" routerLinkActive="active"> 
            <a routerLink="horarios" class="rk-menu__link">Horarios</a>
          </li>

          <li class=" rk-menu__item" routerLinkActive="active"> 
            <a routerLink="alarma" class="rk-menu__link">Alarma</a>
          </li>

          <li class=" rk-menu__item" routerLinkActive="active"> 
            <a routerLink="puntos" class="rk-menu__link">Puntos</a>
          </li>

          <li class=" rk-menu__item" routerLinkActive="active"> 
            <a routerLink="recoleccion" class="rk-menu__link">Recolección</a>
          </li>
        </ul>
        
      </nav>
    </div>
  </header>



  