<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Horarios</title>
</head>
<body>


   <!--Recoleccion de residuos-->
   <section class="cuerpo" id="horarios">
      <h1 class="titulo2">
          HORARIOS DE RECOLECCIÓN DE RESIDUOS TUNJUELITO
      </h1>

      <article class="caja">
          <div class="subtitulo2">
              <img src="assets/imagenes/camion.png" alt="" class="imagen">
              <h3 class="horario">
                  LUNES   
                  <br>
                  7:00 PM
              </h3>
          </div>
      </article>



      <article class="caja">
          <div class="subtitulo2">
              <img src="assets/imagenes/camion.png" height="" alt="" class="imagen">
              <h3 class="horario">
                  MIÉRCOLES 
                  <br>
                   7:00 PM
              </h3>
          </div>
      </article>
          
      <article class="caja">
          <div class="subtitulo2">
              <img src="assets/imagenes/camion.png" alt="" class="imagen">
               <h3 class="horario">
                  VIERNES 
                  <br>
                   7:00 PM
              </h3>
          </div>
      </article>

  </section>
  
   