
     <!--Puntos cercanos de reciclaje-->
     <section class="cuerpo" id="puntos">
        <h1 class="titulo4">
            PUNTOS CERCANOS DE RECICLAJE
        </h1>

    <article class="caja1">
        <div class="subtitulo4">
            <img src="assets/imagenes/map.png" alt="" class="imagen4">
             <h3 class="puntos">
                EXITO CENTRO MAYOR <br>
                RECICLAJE POR PUNTOS EXITO
            </h3>
            
        </div>
    </article>


    <article class="caja2">
        <div class="subtitulo4">
            <img src="assets/imagenes/map.png" alt="" class="imagen4">
             <h3 class="puntos">
                TAPAS PARA SANAR<br>
                CENTRO COMERCIAL TUNAL
            </h3>
        </div>
    </article>  
       

        <article class="caja3">
            <div class="subtitulo4">
                <img src="assets/imagenes/map.png" alt="" class="imagen4">
                 <h3 class="puntos">
                    FUNDACIÓN ACB<br>
                    Cl. 57 Sur #2
                    <br>
                    

                    
                </h3>
            </div>
        </article>  
            
            

  

    


  
  
