
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clasificación</title>
  <link rel="stylesheet" href="">
</head>
<body>
 

  
  <section class="cuerpo" id="clasificacion">
      <h1 class="titulo">
          CLASIFICACIÓN DEL RECICLAJE
      </h1>

      
  <div class="card">
      <div class="face front">
          <img src="assets/imagenes/vidrio.png">
          <h3>VIDRIO</h3>

      </div>

      <div class="face back">
          <h3> VIDRIO</h3>
          <p>
              BOTELLAS 
              <br>
              RECIPIENTES DE COSMETICA
              <br>
              TARROS DE CONSERVA
          </p>
      </div>
  </div>


  <div class="card">
      <div class="face front">
          <img src="assets/imagenes/papel.png">
          <h3>PAPEL</h3>

      </div>

      <div class="face back">
          <h3> PAPEL</h3>
          <p>
              REVISTAS
              <br>
              PERIODICOS
              <br>
              LIBROS
              <br>
              CAJAS DE CARTÓN
              <br>
              BOLSAS DE PAPEL
          </p>
      </div>
  </div>


  <div class="card">
      <div class="face front">
          <img src="assets/imagenes/metal.png">
          <h3>METAL</h3>

      </div>

      <div class="face back">
          <h3> METAL</h3>
          <p>
              LATAS
              <br>
              TAPAS
              <br>
              PAPEL ALUMINIO
              <br>
              SARTENES 
              <br>
              ALAMBRE
              
          </p>
      </div>
  </div>


  <div class="card">
      <div class="face front">
          <img src="assets/imagenes/plastico.png">
          <h3>PLASTICO</h3>

      </div>

      <div class="face back">
          <h3> PLASTICO</h3>
          <p>
              BOTELLAS
              <br>
              BOLSAS
              <br>
              PITILLOS
              <br>
              TUBOS
              <br>
              VASOS - PLATOS DESECHABLES
              
          
          </p>
      </div>
  </div>


  <div class="card">
      <div class="face front">
          <img src="assets/imagenes/organico.png">
          <h3>ORGANICO</h3>

      </div>

      <div class="face back">
          <h3> ORGANICO</h3>
          <p>
              RESTOS DE COMIDA
              <br>
              VERDURAS
              <br>
              CÁSCARA DE FRUTAS
              <br>
              CÁSCARA DE HUEVO
              <br>
              RESTOS DE CAFÉ
          </p>
      </div>
  </div>


  <div class="card">
      <div class="face front">
          <img src="assets/imagenes/electronico.png">
          <h3>ELECTRONICOS</h3>

      </div>

      <div class="face back">
          <h3>ELECTRONICOS</h3>
          <p>
              COMPUTADORES
              <br>
              CELULARES
              <br>
              TABLETS
              <br>
              SECADORAS
              

          </p>
      </div>
  </div>

  

          
         
         