
/*estilos para Alarma*/

.titulo3
{
    text-align: center;
    letter-spacing: 10px;
    margin-top: 100px;
    
    
}

.alarma1
{
    margin-left: 495px;
    margin-top: 30px;   
    font-size: 16px;
}

.alarma2
{
    margin-left: 120px;
    margin-top: 30px;   
    font-size: 16px;
}

.alarma3
{
    margin-left: 120px;
    margin-top: 30px;   
    font-size: 16px;
}

img{
    margin-left: 770px;
    margin-top: 60px;
}
