
  <!--Alarmas-->
 
  <section class="cuerpo" id="alarma">
      <h1 class="titulo3">
          ALARMA
      </h1>
      <img src="assets/imagenes/reloj.png">

   </section>

 

   <select class="alarma1">
      <option>LUNES</option>
      <option>LUNES 4:30</option>
      <option>LUNES 5:30</option>
      <option>LUNES 6:30</option>
    </select>
    <select class="alarma2">
      <option>MIÉRCOLES</option>
      <option >MIÉRCOLES 4:30 </option>
      <option>MIÉRCOLES 5:30</option>
      <option>MIÉRCOLES 6:30</option>
    </select>
    <select class="alarma3">
      <option>VIERNES</option>
      <option>VIERNES 4:30</option>
      <option>VIERNES 5:30</option>
      <option>VIERNES 6:30</option>
    </select>
