<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="">
</head>
<body>
    
   

    <!--formulario-->
    <form class="form" id="recoleccion">
        <h2 class="form_tittle">RECOLECCIÓN DE RECICLAJE</h2>

        <div class="form__container">
            <div class="form__group">
                <input type="text" id="name" class="form__input" placeholder=" ">
                <label for="name" class="form__label">Nombre:</label>
                <span class="form__line"></span>
            </div>

            <div class="form__group">
                <input type="text" id="address" class="form__input" placeholder=" ">
                <label for="address" class="form__label">Dirección:</label>
                <span class="form__line"></span>
            </div>
            
            <div class="form__group">
                <input type="text" id="cel" class="form__input" placeholder=" ">
                <label for="cel" class="form__label">Telefono:</label>
                <span class="form__line"></span>
            </div>

            <div class="form__group">
                <input type="text" id="cel" class="form__input" placeholder=" ">
                <label for="dia" class="form__label">Día:</label>
                <span class="form__line"></span>
            </div>

            <div class="form__group">
                <input type="text" id="hora" class="form__input" placeholder=" ">
                <label for="hora" class="form__label">Hora:</label>
                <span class="form__line"></span>
            </div>

            <div class="form__group">
                <input type="text" id="elementos" class="form__input" placeholder=" ">
                <label for="elementos" class="form__label">Elementos:</label>
                <span class="form__line"></span>
            </div>

            <input type="submit" class="form__submit" value="Programar">


        </div>
     </form>


</body>
</html>

